*, *::after, *::before{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body{
    position: relative;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header{
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

header .logo{
    font-size: 2.5rem;
    font-weight: 900;
}

.log-in{
    padding: 15px 25px;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: .5rem;
    background-color: aliceblue;
    transition: ease-in-out 200ms;
}

.log-in:hover{
    background-color: rgb(202, 221, 238);
    cursor: pointer;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-book{
    border: none;
    background-color: transparent;
    font-size: 2rem;
    padding: 15px 25px;
    border-radius: .5rem;
    transition: ease-in-out 200ms;
}
.add-book:hover{
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}


.pop-up{
    background-color: aliceblue;
    padding: 2rem;
    position: relative;
    z-index: 10;
    transform: scale(0);
    transition: 200ms ease-in-out;
}

.pop-up.active{
    transform: scale(1);
}

.card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-btn{
    border: none;
    font-size: 2rem;
    background-color: transparent;
    font-weight:  bold;
}
.close-btn:hover{
    cursor: pointer;
}

.submit{
    border: none;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 1rem;
    background-color: tomato;
    color: white;
    transition: all ease-in-out 200ms;
}
.submit:hover{
    background-color: rgb(201, 76, 54);
    cursor: pointer;
}

footer{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay{
    position: fixed;
    opacity: 0;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}

.overlay.active{
    pointer-events: all;
    opacity: 1;
}