*, *::after, *::before{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body{
    position: relative;
}

/* .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
} */

header{
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

header .logo{
    font-size: 2.5rem;
    font-weight: 900;
}

.log-in{
    padding: 15px 25px;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: .5rem;
    background-color: rgb(236, 236, 236);
}

.log-in:hover{
    background-color: rgb(202, 221, 238);
    cursor: pointer;
}

.modal{
    padding: 15px 25px;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: .5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: aliceblue;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    min-width: 300px;
}

main div{
    padding: 15px 25px;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: .5rem;
}

.modal.active{
    transform: scale(1);
    background-color: aliceblue;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-book{
    border: none;
    background-color: transparent;
    font-size: 2rem;
    padding: 15px 25px;
    border-radius: .5rem;
    transition: ease-in-out 200ms;
}
.add-book:hover{
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

.modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

input{
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 0.25rem;
    outline: none;
    border: solid 1px rgb(202, 221, 238)
}

input:focus { 
    outline: none !important;
    border-color: rgb(107, 118, 128);
    box-shadow: 0 0 1px rgb(107, 118, 128);
}
.close-button{
    border: none;
    font-size: 2rem;
    background-color: transparent;
    font-weight: 500;
}
.close-button:hover{
    cursor: pointer;
    font-weight: 1000;
}

.submit{
    border: none;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 10px 15px;
    border-radius: 1rem;
    background-color: rgb(202, 221, 238);
    color: black;
    transition: all ease-in-out 200ms;
    margin: 1rem;
}
.submit:hover{
    background-color: rgb(107, 118, 128);
    cursor: pointer;
    color: white;
}

footer{
    height: 50px;
    width:100%;
    position:fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#overlay{
    position: fixed;
    opacity: 0;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}

#overlay.active{
    pointer-events: all;
    opacity: 1;
}